footer(class='footer')
    div(class='footer__top')
        div(class='footer__info')
            h2(class='footer__heading') Intersted to woek with our team?
            p(class='footer__description') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        button(class="footer__button" id='open-modal-form') Let’s Talk
    div(class='footer__line')
    div(class='footer__bottom')
        address(class="footer__address address")
            div(class='address__company-info')
                img(src='./images/logo.svg' alt='logo' class='address__logo')
                p(class="address__company-name") Afrianska
            div(class="address__other")
                p(class="address__subheading") A.
                p(class="address__other-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            div(class="address__other")
                p(class="address__subheading") T.
                a(class="address__other-text" href="tel:62-812-7313-4321") +62-812-7313-4321
            div(class="address__other")
                p(class="address__subheading") E
                a(class="address__other-text" href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com

        nav(class="footer__navigate footer-navigate")
            div(class="footer-navigate__column")
                p(class="footer-navigate__subheading") About US
                ul(class="footer-navigate__list")
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') About
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') What We Do
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') Project
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') How It Work With Us
            div(class="footer-navigate__column")
                p(class="footer-navigate__subheading") Follow US
                ul(class="footer-navigate__list")
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') Instagram
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') Facebook
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') LinkedIn
                    li(class="footer-navigate__item")
                        a(href='@' class='footer-navigate__link') Youtube
        p(class="footer__afrianska") 2019 © Afrianska. All rights reserved.