form(class="contact-form")
    h2(class='contact-form__heading') SEND US MESSAGE
    p(class='contact-form__title') Full Name
    input(type='text' placeholder='Your Name' required name='name' class='contact-form__input')
    p(class='contact-form__title') Email
    input(type='email' placeholder='Your Email' required name='email' class='contact-form__input')
    p(class='contact-form__title') Message
    textarea(placeholder='Your Message' name='text' required class='contact-form__textarea')
    input(type='submit' class='contact-form__submit' value='SUBMIT')