header(class='header container')
    div(class="language-switch")
        p(class="language-switch__toggle") R
        p(class="language-switch__toggle  language-switch__toggle_active") A
    div(class="burger-button")
        div(class="burger-button__line burger-button__line_top")
        div(class="burger-button__line burger-button__line_middle")
        div(class="burger-button__line burger-button__line_bottom")
    nav(class="header-navigate")
        ul(class="header-navigate__list")
            li(class='header-navigate__item')
                a(class="header-navigate__link" href="./index.html") Home
            li(class='header-navigate__item')
                a(class="header-navigate__link" href="#") Services
            li(class='header-navigate__item')
                a(class="header-navigate__link" href="#") About
            li(class='header-navigate__item')
                a(class="header-navigate__link" href="./contact.html") Contacts