header(class='header container')
    div(class="language-switch")
        p(class="language-switch__toggle") R
        p(class="language-switch__toggle  language-switch__toggle_active") A
    div(class="burger-button")
        div(class="burger-button__line burger-button__line_top")
        div(class="burger-button__line burger-button__line_middle")
        div(class="burger-button__line burger-button__line_bottom")
    nav(class="navigate")