div(class="our-affairs container")
    p(class="our-affairs__description") What we do to help our client grow in digital era,
    div(class='our-affairs__column')
        div(class="card-do our-affairs__card our-affairs__card_middle")
            div(class='card-do__image-wrapper')
                img(src="./images/card-2.svg" alt='c1' class='card-do__image')
            p(class="card-do__subheading") Make Your business To Be Better Famous In Internet
            p(class="card-do__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(class='card-do__link' href='#') Learn more
    div(class='our-affairs__column ')
        div(class="card-do our-affairs__card")
            div(class='card-do__image-wrapper')
                img(src="./images/card-1.svg" alt='c1' class='card-do__image')
            p(class="card-do__subheading") Bring Technology To Your Comfrotable Home
            p(class="card-do__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(class='card-do__link' href='#') Learn more
        div(class="card-do our-affairs__card")
            div(class='card-do__image-wrapper')
                img(src="./images/card-3.svg" alt='c1' class='card-do__image')
            p(class="card-do__subheading") Build Your Digital Product That Suitable For Your Need
            p(class="card-do__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a(class='card-do__link' href='#') Learn more
