*
  margin 0
  font-size 16px
  font-family: 'Khula', sans-serif;
  font-style normal
  text-decoration none

.container
  margin 0 auto
  max-width 1200px
  width 100%
  box-sizing border-box
  padding 0px 5px
