.beloved-client
  box-sizing border-box
  padding-top 96px
  padding-bottom 126px
  &__top
    max-width 940px
    margin 0 auto
    margin-bottom 164px
    display flex
    @media(max-width 1050px)
      flex-direction column
      margin-bottom 50px
  &__heading
    font-size: 36px
    line-height: 46px
    font-weight 600
    margin-right  95px
    color #fff
    width 232px
    @media(max-width 1050px)
      width 100%
      text-align center
      margin-bottom 30px
    @media(max-width 420px)
      font-size 28px
  &__wrapper
    background-color #5A98D0;
    border-radius 200px 0px 0px 0px
    @media(max-width 620px)
      border-radius 100px 0px 0px 0px
  &__description
    max-width 540px
    width 100%
    color #FFFFFF
    font-weight 500
    opacity 0.6
    font-size 16px
    line-height 26px
    @media(max-width 1050px)
      margin 0 auto
      text-align justify