.contact
  max-width 940px
  width 100%
  margin 0 auto
  box-sizing border-box
  padding 50px 5px 96px
  display flex
  justify-content space-between
  @media(max-width 650px)
    flex-direction column
    align-items center
    padding-bottom 50px
  &__info
    width 310px


.contact-info
  @media(max-width 650px)
    order 2
    margin-bottom 50px
  &__image
    margin 0 auto
    display block
    margin-top 60px
    margin-bottom 70px
  &__title
    font-size 20px
    line-height 30px
    color #1F3F68;font-weight 600
    margin-top 40px
  &__description
    font-size 16px
    line-height 20px
    margin-top 24px
    color #1F3F68
    opacity 0.6
  &__isIcon
    display flex
    margin-top 20px
    align-items center
    & > a
      margin-top 5px
  &__icon
    margin-right 20px



