.header
  min-height 48px
  display flex
  flex-wrap wrap
  align-items center
  justify-content space-between
  &-wrapper
    &_contact
      margin 40px auto
    &_index
      background linear-gradient(0deg,#98c3e857 8.84%,rgba(152,195,232,0) 31.12%);
      min-height 768px
      box-sizing border-box
      padding-top 40px
      @media(max-width 620px)
        min-height auto
        padding-bottom 30px