.language-switch
  width 48px
  height 32px
  position: relative;
  &__toggle
    position absolute
    width 32px
    height 32px
    border-radius 50%
    font-size 20px
    color #316099
    font-weight bold
    border 2px solid #316099
    background-color #316099
    box-sizing border-box
    text-align center
    cursor pointer
    line-height 32px
    &_active
      background-color #fff
      right 0
      z-index 2