.modal-form
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color #0000003b
  cursor pointer
  z-index 10
  display none
  align-items center
  justify-content center
  &_active
    display flex